---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <meta name="theme-color" content="#3F51B5">

        <title>{{ page.title }}</title>
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <style>
            {% capture include_to_sassify %}
                {% include normalize.sass %}
                {% include styles.sass %}
            {% endcapture %}
            {{include_to_sassify | sassify}}
        </style>
    </head>
    <body>
        <div class="ribbon mdc-elevation--z4"></div>
        <main class="main-content mdc-typography mdc-elevation--z8">
            {% if site.ads != false %}
                <script async id="_carbonads_js" src="https://cdn.carbonads.com/carbon.js?serve=CK7I6K3E&amp;placement=wwwrichie-bendallml"></script>
            {% endif %}
            <button aria-label="Toggle theme" class="theme-toggle mdc-fab mdc-fab--mini" data-mdc-auto-init="MDCRipple">
                <svg class="theme-toggle__svg mdc-fab__icon" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M11 7l-3.2 9h1.9l.7-2h3.2l.7 2h1.9L13 7h-2zm-.15 5.65L12 9l1.15 3.65h-2.3zM20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69L23.31 12 20 8.69zm-2 5.79V18h-3.52L12 20.48 9.52 18H6v-3.52L3.52 12 6 9.52V6h3.52L12 3.52 14.48 6H18v3.52L20.48 12 18 14.48z"/>
                </svg>
            </button>
            {{ content }}
            <script async src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
            <script src="https://unpkg.com/material-components-web@1.1.1/dist/material-components-web.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.slim.min.js"></script>
            <script>
                {% include index.js %}
            </script>
        </main>
    </body>
</html>
